# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
/vendor
assets/library/H306.pdf
assets/library/Peugeot-306 93-02-Haynes-Manual-EN [BM].pdf
assets/205si-internal.zip
assets/205si-external.zip

